# Python
*.pyc
*.pyo
*.pyd
__pycache__/
*.db
*.sqlite3

# Django Stuff
*.log
*.pot
*.pyc
*.pyo
*.pyd
__pycache__/
db.sqlite3
/staticfiles/
/media/

# Virtual environment
env/
venv/

# macOS files
.DS_Store

# Windows files
Thumbs.db

# IDE settings (e.g., VSCode, PyCharm)
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Local configuration
*.env

# Django secret keys and settings
*.local
*.sqlite3
